body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: blue;
  color: orange;
}

.redTitle{
  background-color: red;
  color:white;
}

.normalTitle{
  background-color: transparent;
  color: black;
  border: 1px solid black;
}