.NavBar {
  display: "flex";
  background-color: "red";
  color: "silver";
  gap: "1em"
}

.productGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.productGrid li{
  display: flex;
  gap: 10px 10px;
}